.patua-one-regular {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Patua One", sans-serif;
  color: #1C0001
  
}

body {
  background-color: #8b3d02;
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
  border-radius: 30px;
  background-color: #ad6935;
}

.card > * {
  pointer-events: none;
}

img {
  width: 20rem;
  height: 20rem;
  border-radius: calc(30px - 2px - 1rem);
  object-fit: cover;
}

h2 {
  margin: 0;
  line-height: 1.5;
}

.game {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
}

.scores {
  position: sticky;
  top: 1rem;


}

.score {

}
