.patua-one-regular {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Patua One", sans-serif;
}


.card {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
  border-radius: 30px;
}

img {
  width: 20rem;
  height: 20rem;
  border-radius: calc(30px - 2px - 1rem);
  object-fit: cover;
}

h2 {
  margin: 0;
  line-height: 1.5;
}

.game {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
}
